body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Bell MT' sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #126b12;
	padding: 1em;
}

a.active {
	color: #ffa403;
	background-color: #126b12;
}

a:hover {
	text-decoration: none;
	background-color: #126b12;
	color: #00eafc;
}

.navBar {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	color: #333;
	font-weight: bold;
	font-size: 1.3em;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #d9eef9;
}
.navBar a a.navbar-brand:hover {
	background: none;
}
.navBar a a.navbar-brand:active {
	background: none;
}
.hero-img {
	display: inline-block;
	margin: 1em 10%;
}

.call-msg {
	font-family: 'Bradley Hand ITC';
	font-size: 3em;
	font-weight: 900;
	color: #126b12;
	margin: 1em;
}

.login-btns {
	display: inline-block;
	width: 300px;
	padding: 1em;
	margin: 0.5em auto;
}

.login-btns:hover {
	cursor: pointer;
	transform: scale(0.9);
}

.p-btn {
	font-family: 'Bradley Hand ITC';
	background-color: #126b12;
	font-weight: bolder !important;
	font-size: 1.4em;
	margin-right: 10%;
}

.p-btn:hover {
	cursor: pointer;
	transform: scale(0.9) !important;
}

.welcome {
	box-sizing: border-box;
	font-family: 'Bell MT';
	font-size: 1.5em;
	padding: 0.1em 0.5em;
	background-color: #126b12;
}

.dropdown button {
	font-weight: bold;
	font-size: 1.5rem;
	font-family: 'Bradley Hand ITC';
	padding: 0 0.1em;
	background-color: #126b12;
}

.dropdown-menu {
	border: none !important;
}

.dropdown-menu a {
	font-size: 1.2em !important;
	display: inline-block;
	width: 165px !important;
	text-align: center;
}
